{% extends "base.html.jinja2" %}

{% block content %}
<p>
    Hi <b>{{ user_email }}</b>,
    <br/>
    <br/>
    This is an automated notification that you've been subscribed to my <a href="https://axleos.com/blog">blog</a>.
    <br/>
    <br/>
    Not you? How odd! <a href="https://">You can unsubscribe by clicking this link.</a>
</p>
{% endblock %}
